## Data Analysis with Python: Zero to Pandas - Course Project Guidelines
#### (remove this cell before submission)

Important links:
- Make submissions here: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Ask questions here: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Find interesting datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711


This is the starter notebook for the course project for [Data Analysis with Python: Zero to Pandas](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas). You will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project . Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 4 questions about the dataset
* Your submission must include at least 4 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted for somewhere else.


Follow this step-by-step guide to work on your project.


### Step 1: Select a real-world dataset 

- Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
- The data should be in CSV format, and should contain at least 3 columns and 150 rows
- Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

Here's some sample code for downloading the [US Elections Dataset](https://www.kaggle.com/tunguz/us-elections-dataset):

```
import opendatasets as od
dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset'
od.download('https://www.kaggle.com/tunguz/us-elections-dataset')
```

You can find a list of recommended datasets here: https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis


### Step 6: Make a submission & share your work

- Upload your notebook to your Jovian.ml profile using `jovian.commit`.
- **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
- Browse through projects shared by other participants and give feedback


### (Optional) Step 7: Write a blog post

- A blog post is a great way to present and showcase your work.  
- Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
- Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
- Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml





### Example Projects

Refer to these projects for inspiration:

* [Analyzing StackOverflow Developer Survey Results](https://jovian.ml/aakashns/python-eda-stackoverflow-survey)

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51) by Kartik Godawat

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis) by Prajwal Prashanth

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b) by Aakanksha N S

* [2019 State of Javscript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)



**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Analyzing Google App Store data

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

### How to run the code

This is an executable [*Jupyter notebook*](https://jupyter.org) hosted on [Jovian.ml](https://www.jovian.ml), a platform for sharing data science projects. You can run and experiment with the code in a couple of ways: *using free online resources* (recommended) or *on your own computer*.

#### Option 1: Running using free online resources (1-click, recommended)

The easiest way to start executing this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. You can also select "Run on Colab" or "Run on Kaggle".


#### Option 2: Running on your computer locally

1. Install Conda by [following these instructions](https://conda.io/projects/conda/en/latest/user-guide/install/index.html). Add Conda binaries to your system `PATH`, so you can use the `conda` command on your terminal.

2. Create a Conda environment and install the required libraries by running these commands on the terminal:

```
conda create -n zerotopandas -y python=3.8 
conda activate zerotopandas
pip install jovian jupyter numpy pandas matplotlib seaborn opendatasets --upgrade
```

3. Press the "Clone" button above to copy the command for downloading the notebook, and run it on the terminal. This will create a new directory and download the notebook. The command will look something like this:

```
jovian clone notebook-owner/notebook-id
```



4. Enter the newly created directory using `cd directory-name` and start the Jupyter notebook.

```
jupyter notebook
```

You can now access Jupyter's web interface by clicking the link that shows up on the terminal or by visiting http://localhost:8888 on your browser. Click on the notebook file (it has a `.ipynb` extension) to open it.

## Downloading the Dataset

**TODO** - add some explanation here

> Instructions for downloading the dataset (delete this cell)
>
> - Find an interesting dataset on this page: https://www.kaggle.com/datasets?fileType=csv
> - The data should be in CSV format, and should contain at least 3 columns and 150 rows
> - Download the dataset using the [`opendatasets` Python library](https://github.com/JovianML/opendatasets#opendatasets)

In [63]:
!pip install jovian opendatasets --upgrade --quiet

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'C:\Programas\Microsoft Visual Studio\Shared\Anaconda3_64\envs\jovian-gpu\python.exe -m pip install --upgrade pip' command.

Let's begin by downloading the data, and listing the files within the dataset.

In [64]:
# Change this
#dataset_url = 'https://www.kaggle.com/tunguz/us-elections-dataset' 
dataset_url = 'https://www.kaggle.com/lava18/google-play-store-apps'

In [65]:
import opendatasets as od
od.download(dataset_url)

Kaggle dataset ID:  lava18/google-play-store-apps
Using downloaded and verified file: .\google-play-store-apps.zip
Extracting archive .\google-play-store-apps.zip to .\google-play-store-apps

The dataset has been downloaded and extracted.

In [66]:
# Change this
data_dir = './google-play-store-apps'

In [67]:
import os
os.listdir(data_dir)

['googleplaystore.csv', 'googleplaystore_user_reviews.csv', 'license.txt']

Let us save and upload our work to Jovian before continuing.

In [68]:
project_name = "w5_pro_zerotopandas-course-project"

In [69]:
!pip install jovian --upgrade -q

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'C:\Programas\Microsoft Visual Studio\Shared\Anaconda3_64\envs\jovian-gpu\python.exe -m pip install --upgrade pip' command.

In [70]:
import jovian

In [71]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [72]:
import pandas as pd

In [73]:
playstore_raw_df = pd.read_csv(data_dir+'/googleplaystore.csv')

In [74]:
playstore_raw_df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7834,CS16Client,GAME,4.3,8668,9.1M,"500,000+",Free,0,Teen,Action,"April 1, 2017",1.33,1.5 and up
5994,BackCountry Navigator TOPO GPS PRO,MAPS_AND_NAVIGATION,4.5,6230,Varies with device,"100,000+",Paid,$11.99,Everyone,Maps & Navigation,"August 3, 2018",Varies with device,Varies with device
2190,Nighty Night Circus,FAMILY,4.3,382,15M,"10,000+",Paid,$2.99,Everyone,Education;Action & Adventure,"March 7, 2017",2.6,2.3 and up
8010,"Freeform – Stream Full Episodes, Movies, & Liv...",FAMILY,3.7,29229,Varies with device,"1,000,000+",Free,0,Teen,Entertainment,"August 6, 2018",Varies with device,Varies with device
8274,DC Metro Transit - Free,TRAVEL_AND_LOCAL,4.4,6895,10M,"500,000+",Free,0,Everyone,Travel & Local,"May 15, 2018",5.11.3.1,4.1 and up
8920,La citadelle du musulman,BOOKS_AND_REFERENCE,4.5,314,9.8M,"50,000+",Free,0,Everyone,Books & Reference,"March 17, 2016",2.10,2.3.3 and up
6926,SAP BW Tutorial,FAMILY,4.0,11,9.4M,"1,000+",Free,0,Everyone,Education,"January 10, 2016",0.0.1,4.1 and up
6981,BMX Boy Bike Stunt Rider Game,GAME,3.8,299,25M,"10,000+",Free,0,Everyone,Racing,"November 10, 2017",1.1,4.1 and up
6709,BR Ambedkar Biography & Quotes,BOOKS_AND_REFERENCE,4.6,156,2.1M,"10,000+",Free,0,Everyone,Books & Reference,"June 11, 2018",2.0,2.3 and up
5634,Nights at Slender Pizzeria 3D,GAME,4.1,2628,45M,"100,000+",Free,0,Teen,Adventure,"May 22, 2017",1.1,4.2 and up

analyzing shape and info

In [75]:
playstore_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [76]:
playstore_raw_df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

### Loading the second dataset

In [77]:
reviews_raw_df = pd.read_csv(data_dir+'/googleplaystore_user_reviews.csv')

In [78]:
reviews_raw_df.sample(10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
56539,Google Photos,Never knew capabilites this. Discovered love i...,Positive,0.360000,0.461429
20303,CNBC: Breaking Business News & Live Market Data,ok. People tv liberal. Don't listen,Positive,0.500000,0.500000
1144,7 Day Food Journal Challenge,NaN,NaN,NaN,NaN
54200,Goibibo - Flight Hotel Bus Car IRCTC Booking App,Good job,Positive,0.700000,0.600000
14420,"BestCam Selfie-selfie, beauty camera, photo ed...","Whether it is baker or not, it is not boring",Positive,0.500000,1.000000
53953,Glowing Flowers Live Wallpaper,NaN,NaN,NaN,NaN
32245,DIY Garden Ideas,Great! Great app. I lot ideas popping mind.,Positive,0.900000,0.750000
30003,Cover Fire: offline shooting games for free,NaN,NaN,NaN,NaN
62391,HipChat - Chat Built for Teams,"The tablet view nice, though scroll-back broke...",Positive,0.230000,0.560000
41175,"Evernote – Organizer, Planner for Notes & Memos",I used five stars. This go-to note needs. I wr...,Positive,0.010417,0.483333

In [79]:
reviews_raw_df.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

In [80]:
reviews_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [81]:
playstore_raw_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [82]:
reviews_raw_df.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

checking about "Install Columns"

In [83]:
playstore_raw_df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

which is a "Free" Installs

In [84]:
playstore_raw_df[playstore_raw_df['Installs'] == 'Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

and price?

In [85]:
playstore_raw_df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [86]:
len(playstore_raw_df['Price'].unique())

93

it's strange that in the complete dataset there are only 92 unique price values

### Cleanining the dataset

In [87]:
#survey_df.drop(survey_df[survey_df.Age < 10].index, inplace=True)
playstore_raw_df.drop(playstore_raw_df[playstore_raw_df['Installs'] == 'Free'].index, inplace=True)

from analyzing playstore_raw_df in the cleaning process the only column in number format is Rating
but review, size, installs, and price have to be converted

In [88]:
# converting to int the reviews column
playstore_raw_df['Reviews'] = playstore_raw_df['Reviews'].apply(lambda x: int(x))

In [89]:
playstore_raw_df['Size'].sample(10)

10602                   21M
7896                   8.4M
9431                    13M
1578                    23M
2432                    15M
9468                    41M
802                     11M
9769                    39M
1909                    63M
6289     Varies with device
Name: Size, dtype: object

In [90]:
playstore_raw_df['Size'] = playstore_raw_df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
# Size column is now in [Mb]
playstore_raw_df['Size'] = playstore_raw_df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
playstore_raw_df['Size'] = playstore_raw_df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x)

In [94]:
playstore_raw_df['Size'] = playstore_raw_df['Size'].apply(lambda x: float(x))

In [98]:
playstore_raw_df['Size'].sample(10)

3235     NaN
5327     NaN
7552     2.8
1450     7.7
3485     NaN
9545    60.0
9883    13.0
3448     NaN
2721    13.0
8493     3.9
Name: Size, dtype: float64

In [101]:
playstore_raw_df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [103]:
playstore_raw_df['Installs'] = playstore_raw_df['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)
playstore_raw_df['Installs'] = playstore_raw_df['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)
playstore_raw_df['Installs'] = playstore_raw_df['Installs'].apply(lambda x: int(x))

In [104]:
playstore_raw_df['Installs'].unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
       1000000000,       1000,  500000000,         50,        100,
              500,         10,          1,          5,          0],
      dtype=int64)

In [105]:
playstore_raw_df['Installs'] = playstore_raw_df['Installs'].apply(lambda x: float(x))

In [107]:
playstore_raw_df['Price'] = playstore_raw_df['Price'].apply(lambda x: str(x).replace('$', '') if '$' in str(x) else str(x))
playstore_raw_df['Price'] = playstore_raw_df['Price'].apply(lambda x: float(x))

In [108]:
playstore_raw_df.describe()

            Rating       Reviews         Size      Installs         Price
count  9366.000000  1.084000e+04  9145.000000  1.084000e+04  10840.000000
mean      4.191757  4.441529e+05    21.516530  1.546434e+07      1.027368
std       0.515219  2.927761e+06    22.588748  8.502936e+07     15.949703
min       1.000000  0.000000e+00     0.008500  0.000000e+00      0.000000
25%       4.000000  3.800000e+01     4.900000  1.000000e+03      0.000000
50%       4.300000  2.094000e+03    13.000000  1.000000e+05      0.000000
75%       4.500000  5.477550e+04    30.000000  5.000000e+06      0.000000
max       5.000000  7.815831e+07   100.000000  1.000000e+09    400.000000

In [109]:
import jovian

In [110]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Attempting to save notebook..
[jovian] Updating notebook "leosf/w5-pro-zerotopandas-course-project" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/leosf/w5-pro-zerotopandas-course-project

'https://jovian.ml/leosf/w5-pro-zerotopandas-course-project'

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing `matplotlib.pyplot` and `seaborn`.

In [111]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [25]:
import jovian

In [26]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [28]:
import jovian

In [29]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [30]:
import jovian

In [31]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [32]:
import jovian

In [35]:
#jovian.commit(user='leosf', project=project_name, filename='zerotopandas-course-project.ipynb')

[jovian] Attempting to save notebook..
[jovian] Updating notebook "aakashns/zerotopandas-course-project-starter" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/aakashns/zerotopandas-course-project-starter

'https://jovian.ml/aakashns/zerotopandas-course-project-starter'